.boton-ej1 {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #3498db; /* Azul */
  color: #ffffff;
  border: none;
  cursor: pointer;
  /* Propiedades de la transición */
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  /* Shorthand: transition: all 0.4s ease-in-out; */
}

.boton-ej1:hover {
  background-color: #2ecc71; /* Verde */
  color: #ffffff;
}