body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    --color-gris: #eee;
    --color-blanco: white;
    --color-primario: #5582f3;
    --color-secundario: #a3bbf5;

    --fuente-principal: Arial, Helvetica, sans-serif;

    font-family: var(--fuente-principal);
    background-color: var(--color-gris);
}

header {
    position: relative;
    background-color: var(--color-primario);
    overflow-y: auto;
    height: 10vh;
    align-content: center;
    box-shadow: 0 0 15px 5px grey;
}

header .header-flota-izq {
    width: 30%;
    float: left;
    margin-left: 2%;
}

header .header-flota-izq object {
    margin: 0 5px 0 0;

}

header .header-flota-der {
    width: 30%;
    float: right;
    margin-right: 2%;
    text-align: right;
}

header .header-centro {
    margin-left: 3%;
    position: relative;
    text-align: center;
}

.busqueda {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: var(--color-primario);
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.busqueda:focus {
    background-color: var(--color-blanco);
}

.lupa {
    width: 20px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    filter: invert(0.5);
    transition: all 0.5s ease;
}

.busqueda:focus+.lupa {
    filter: invert(0);
}

header object {
    width: 30px;
}

main {
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid black;
    background-color: var(--color-blanco);
    border-radius: 25px;
}

/* Resolución Móvil */
@media screen and (max-width: 1023px) {

    header .header-flota-der .completo {
        display: none;
    }

    header .header-flota-der .iniciales {
        position: absolute;
        top: 13%;
        transform: translate(-50%, -50%);
        /* Para posicionar el punto de tranformación en el centro del contenedor*/
        width: 35px;
        height: 35px;
        right: 5%;
        border-radius: 50%;
        background-color: var(--color-blanco);
        color: var(--color-primario);
        font-size: 1.2em;
    }

    header .header-flota-der .iniciales span {
        position: relative;
        top: 15%;
        right: 11%;
        font-weight: bold;

    }

    .header-flota-der p:nth-child(2) {
        display: inline-block;
    }

    /* Menú lateral oculto por defecto */
    .navMov {
        position: fixed;
        top: 0;
        left: -200%;
        width: fit-content;
        height: 100%;
        background: var(--color-primario);
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .navMov ul li a {
        text-decoration: none;
        color: var(--color-blanco);
        font-weight: bold;
    }

    .navMov ul li a:hover {
        background-color: var(--color-secundario);
        padding: 5%;
        border-radius: 5px;
        color: var(--color-primario);
    }

    .navMov ul li {
        margin: 0 0 10% -20%;
    }

    .navMov ul {
        list-style: none;
    }

    /* Mostrar cuando el primer object de .header-flota-izq está en hover */
    header:has(.header-flota-izq object:first-child:hover)+.navMov,
    .navMov:hover {
        left: 0;
    }

    main .tarjeta {
        text-align: center;
        width: 90%;
        height: 200px;
        border: 1px solid black;
        margin: 10px auto;
        border-radius: 10px;
    }

    footer {
        background-color: var(--color-primario);
        width: 100%;
        text-align: center;
        margin-top: 5%;
        padding: 1% 0;
    }

    footer ul {
        list-style: none;
    }

    footer ul li a {
        display: block;
        text-decoration: none;
        color: var(--color-blanco);
        text-align: center;
        font-weight: bold;
    }
}

/* Resolución PC */
@media screen and (min-width: 1023px) {
    header .header-flota-izq object:first-child {
        display: none;
    }

    header .header-flota-der .iniciales {
        display: none;
    }

    header .header-flota-der .completo {
        position: absolute;
        bottom: 15%;
        right: 5%;
    }

    body nav {
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    body nav ul {
        list-style: none;
    }

    body nav ul li {
        display: inline-block;
    }

    body nav ul li a {
        display: block;
        text-decoration: none;
        padding: 8px;
    }

    
    body nav ul li a:hover {
        background-color: var(--color-primario);
        color: var(--color-secundario);
        font-weight: bold;
        border-radius: 5px;
    }

    main {
        text-align: center;
    }

    main .tarjeta {
        display: inline-block;
        text-align: center;
        width: 45%;
        height: 200px;
        border: 1px solid black;
        margin: 10px auto;
        border-radius: 10px;
    }

    footer {
        background-color: var(--color-primario);
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0;
    }

    footer ul {
        list-style: none;
    }

    footer ul li {
        display: inline-block;
    }

    footer ul li a {
        display: block;
        text-decoration: none;
        color: var(--color-blanco);
    }

    .header-flota-der p:first-child {
        display: inline-block;
    }
}

main .sec1 {
    background-color: red;
}

main .sec2 {
    background-color: yellow;
}

main .sec3 {
    background-color: blue;
}

main .sec4 {
    background-color: green;
}