body{
    background-color: rgb(234, 234, 225);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: rgb(38, 96, 232);
    text-align: center;
    color: white;
    padding: 5px;
}

header>p{
    font-style: italic;
}

nav {
    background-color: rgb(171, 208, 228);
    text-align: center;
    padding: 20px;
}

strong{
    text-decoration: underline dotted rgb(60, 160, 194);
}

a[href="/informe-completo"]{
    background-color: rgb(235, 247, 251);
}

h5{
    text-transform: uppercase;
}

span{
    text-decoration: underline;
}

a[href="#ultima-hora"] {
    border: 1px rgb(38, 96, 232), solid;
    color: purple;
    padding: 8px;
    border-radius: 5px;
    margin-right: 30px;
}

a[href="#tecnologia"] {
    border: 1px rgb(38, 96, 232), solid;
    color: yellow;
    padding: 8px;
    border-radius: 5px;
    margin-right: 30px;
}

a[href="#esports"] {
    border: 1px rgb(38, 96, 232), solid;
    color: blue;
    padding: 8px;
    border-radius: 5px;
}

#noticia-principal{
    margin: 10px;
    border: 1px rgb(38, 96, 232), solid;
    padding: 10px;
    background-color: white;
}

.noticia-div{
    margin-top: 15px;
    border: 1px rgb(38, 96, 232), solid;
    padding: 10px;
    background-color: rgb(216, 216, 21);
}

footer {
    background-color: rgb(38, 96, 232);
    padding: 5px;
    color: white;
    text-align: center;
    
}

a[href="https://twitter.com"]{
    text-decoration: underline dotted red;
    border-bottom: 2px solid blue;
}

.noticia-div:first-of-type{
    background-color: white;
}