/* Ajustes y Reinicios Globales */
:root {
    --color-letra-footer: #767676;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-azul: #0B419B;
}

/* Estilos por defecto */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

/* CABECERA */
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--color-azul);
    height: 70px;
}

/* Grupos izquierda y derecha */
.cabecera-izq,
.cabecera-der {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Barra Desplegable */
#menu-toggle {
    display: none;
}

.menu-icono {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-icono svg {
    width: 100%;
    height: 100%;
}

.linea {
    fill: white;
    transform-origin: center;
    transform-box: fill-box;
    transition: 0.3s ease;
}

/* Animación hamburguesa */
#menu-toggle:checked+.menu-icono .linea1 {
    transform: translateY(6px) rotate(45deg);
}

#menu-toggle:checked+.menu-icono .linea2 {
    opacity: 0;
}

#menu-toggle:checked+.menu-icono .linea3 {
    transform: translateY(-6px) rotate(-45deg);
}

/* LOGO CENTRADO */
.svgLogo {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Icono usuario */
.icono svg {
    margin-bottom: 15%;
}

/* EDICIONES + flecha */
.divFlecha {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: var(--color-blanco);
}

.flecha {
    width: 24px;
    height: auto;
    transition: transform 0.3s ease;
}

.flecha {
    filter: invert(1) sepia(1) hue-rotate(200deg);
}

.divFlecha:hover .flecha {
    transform: rotate(180deg);
}

/* MAIN */
/* Div 1 */
.enlaces {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    gap: 10px;

}

.enlaces label {
    color: var(--color-azul);
    font-weight: bold;
}

.enlaces a {
    color: var(--color-azul);
    text-decoration: none;
    font-weight: bold;
}

.enlaces a:last-child {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 5px;
    border-radius: 5px;
}

/* Div 2 */
main{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.info {
    font-weight: bold;
    font-size: xx-large;
    grid-area: info;
}

.gris {
    color: var(--color-letra-footer);
    grid-area: gris;
}

.azul {
    color: var(--color-azul);
    grid-area: azul;
}

.info2 {
    font-weight: bold;
    font-size: xx-large;
    grid-area: info2;
}

.gris2 {
    color: var(--color-letra-footer);
    grid-area: gris2;
}

.azul2 {
    color: var(--color-azul);
    grid-area: azul2;
}

.primera {
    width: 80%;
    grid-area: primera;
}

/* Tenemos que asiganar nombres para usar el template areas */
.contenido {
    margin-top: 5%;
    display: grid;
    grid-template-areas:
        "info info primera primera primera primera primera primera"
        "info info primera primera primera primera primera primera"
        "gris gris info2 info2 info2 info2 info2 info2"
        "azul azul gris2 azul2 azul2 azul2 azul2 azul2"
}

h4{
    background-color: blue;
    color: var(--color-blanco);
}

div .dir{
    background-color: var(--color-blanco);
    color: var(--color-letra-footer);
}

/* PIE */
footer {
    color: var(--color-letra-footer);
    font-size: 10px;
    text-align: center;
    font-family: serif;
    width: 100%;
}