:root {
    --azul: #04aeef;
    --azul-oscuro: #0f5aca;
    --gris-claro: #eff0f6;
    --gris-oscuro: #c5c6cc;

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--letra);
}

/* CABECERA */
.cabecera {
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.cabecera .input-buscar {
    width: 700px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50px;
}

.cabecera .menu-rayitas .menu-icono {
    width: 30px;
    height: 30px;
    /* Color de las líneas */
    stroke: var(--gris-claro);
    /* Grosor */
    stroke-width: 6;
}

.cabecera .menu-rayitas {
    margin-right: 5%;
}

.cabecera .logo-movil {
    display: none;
}

.cabecera .logo-desktop {
    display: block;
    width: 10%;
    margin-left: 5%;
}

.menu-rayitas {
    cursor: pointer;
}

.menu-icono .linea {
    transition: 0.3s ease;
    transform-origin: center;
}

/* Estado activo al pasar el ratón */
.menu-rayitas:hover .linea1 {
    transform: translateY(15px) rotate(45deg);
}

.menu-rayitas:hover .linea2 {
    opacity: 0;
}

.menu-rayitas:hover .linea3 {
    transform: translateY(-15px) rotate(-45deg);
}

/* IMG */
#titular-ppal img {
    width: 96%;
}

img {
    border-radius: 8px;
}

.lateral img {
    width: 100%;
}

/* GRID */
#titular-ppal {
    grid-area: pp1;
}

#lateral-1 {
    grid-area: l1;
}


#lateral-2 {
    grid-area: l2;
}

#lateral-3 {
    grid-area: l3;
}

#lateral-4 {
    grid-area: l4;
}

#inferior-1 {
    grid-area: i1;
    width: 100%;
    font-weight: bold;
}

#inferior-2 {
    grid-area: i2;
    width: 100%;
    font-weight: bold;
}

main .titular-sub {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid var(--azul-oscuro);
}

.principales {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 20%);
    row-gap: 15%;
    column-gap: 1%;
    grid-template-areas:
        "l1 pp1 pp1 pp1"
        "l2 pp1 pp1 pp1"
        "l3 i1 l4 i2 ";
}

#titular-ppal img {
    position: relative;
    z-index: 1;
}

#titular-ppal h2 {
    position: absolute;
    font-weight: bold;
    color: var(--gris-claro);
    z-index: 100;
    width: 55%;
    top: 80%;
    left: 32%;
}

.lateral {
    position: relative;
    width: 100%;
}

#lateral-1 {
    background-color: black;
    border-radius: 8px;
}

#lateral-2 {
    background-color: black;
    border-radius: 8px;
}

#lateral-3 {
    background-color: black;
    border-radius: 8px;
}

#lateral-4 {
    background-color: black;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#lateral-1 img {
    position: absolute;
    z-index: 1;
}

#lateral-1 p {
    position: absolute;
    font-weight: bold;
    color: var(--gris-claro);
    width: 92%;
    top: 85%;
    left: 3%;
    z-index: 10;
}

#lateral-2 img {
    position: absolute;
    z-index: 1;
}

#lateral-2 p {
    position: absolute;
    font-weight: bold;
    color: var(--gris-claro);
    top: 80%;
    left: 3%;
    z-index: 10;
}

/* CONTENEDOR 2 */
.eltiempo-play {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

/* Cada tarjeta */
.eltiempo-play-div {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: 200px;
    background: black;
}

/* Imagen dentro de la tarjeta */
.eltiempo-play-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Texto sobre la imagen */
.eltiempo-play-div p {
    position: absolute;
    top: 65%;
    left: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    z-index: 2;
    padding: 8px;
    border-radius: 4px;
}


/* FOOTER */
.footer1 {
    margin-top: 5%;
    background-color: var(--gris-claro);
    padding: 40px 0;
}

#titulo-pie-parte1 {
    border-bottom: 2px solid var(--gris-oscuro);
    padding-bottom: 2%;
}

.pie-parte1 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    /* Para que el título ocupe toda la fila */
    position: relative;
}

#pie1 div,
#pie2 div,
#pie3 div {
    border-right: 2px solid var(--gris-oscuro);
}

#titulo-pie-parte1 {
    grid-column: 1 / -1;
    /* Ocupa las 4 columnas */
    margin-bottom: 10px;
}

.pie-parte1 h4 {
    margin-bottom: 10px;
}

/* FOOTER 2 */
.footer2 {
    background-color: var(--gris-oscuro);
    padding: 30px 0;
}

.pie-parte2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono-apps {
    width: 120px;
    margin-right: 10px;
}

.icono-redes {
    width: 30px;
    margin-right: 10px;
}

.en-tu-web p {
    margin-bottom: 25%;
    margin-left: 15%;
}

.en-tu-web a {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.ver-mas {
    text-align: right;
    margin-top: 5%;
    margin-right: 10%;
}


/* RESPOSINVE PARA MÓVIl */
@media screen and (max-width: 1023px) {

    /* CABECERA */
    .cabecera .logo-movil {
        display: block;
    }

    .cabecera .logo-desktop {
        display: none;
    }

    .cabecera .input-buscar {
        width: 90%;
        height: 30px;
        margin: 0 auto;
        border-radius: 50px;
    }

    /* MAIN */
    main {
        margin-top: 18%;
        width: 100%;
    }

    #titular-ppal {
        position: relative;
    }

    /* Imagen principal */
    #titular-ppal img {
        width: 100%;
    }

    /* Texto sobre imagen principal */
    #titular-ppal h2 {
        position: initial;
        width: 100%;
        color: black;
        font-size: 1.2rem;
    }

    /* GRID PRINCIPAL */
    .principales {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 20px;
        grid-template-areas:
            "pp1 pp1"
            "l1 l1"
            "l2 l2"
            "l3 i1"
            "l4 i2";
    }

    /* LATERALES */
    .lateral {
        position: relative;
        height: auto;
        overflow: visible;
        border-radius: 8px;
        margin-bottom: 20px;
        background-color: white !important;
    }

    .lateral img {
        position: relative !important;
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 8px;
        margin-bottom: 20px;
        margin-right: 50px;
    }

    .lateral p {
        position: static;
        margin-top: 15%;
        color: black !important;
        font-weight: bold;
        padding: 8px;
        z-index: 10;

    }

    /* INFERIORES */
    #inferior-1,
    #inferior-2 {
        width: 100% !important;
        margin: 0;
        padding: 0;
        display: block;
        position: initial;
    }


    /* FOOTER 1 */
    .pie-parte1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }

    #titulo-pie-parte1 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        border-bottom: 2px solid var(--gris-oscuro);
        padding-bottom: 10px;
    }

    #pie1 div,
    #pie2 div,
    #pie3 div {
        border-right: none;
    }

    #pie1,
    #pie2,
    #pie3,
    #pie4 {
        padding-bottom: 10px;
    }

    .cont-textos-pie p {
        margin: 5px 0;
    }


    /* FOOTER 2 */
    .pie-parte2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }

    .icono-apps {
        width: 100px;
        margin-right: 10px;
    }

    .icono-redes {
        width: 30px;
        margin-right: 10px;
    }

    .en-tu-web a {
        display: inline-block;
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 10px;
    }
}